@using BestCodderCourse.Models

<h3>Pagination</h3>

<div class="p-xl-2">
    <nav aria-label="Page Navigation example">
        <ul class="pagination">
            @foreach(var item in pageItems)
            {
                
            }

        </ul>

    </nav>
</div>

@code {
    private List<PageItem> pageItems;

    [Parameter]
    public int PageIndex{ get; set; }

    [Parameter]
    public int TotalPages{ get; set; }

    [Parameter]
    public int Radius{ get; set; }

    [Parameter]
    public EventCallback<int> OnSelectedPage{ get; set; }

    protected override void OnParametersSet()
    {
        CreatePages();
    }

    private void CreatePages()
    {
        pageItems = new List<PageItem>();
        //1 create previous page
        var  hasPreviousPage = PageIndex > 1;
        var previousPageIndex = PageIndex - 1;
        pageItems.Add(new PageItem("Prev", previousPageIndex, hasPreviousPage,true));

        //2. create pages and add them to pageItemList
        if (Radius >= TotalPages)
            Radius = TotalPages - 1;

        for(int i = 0; i < TotalPages; i++)
        {
            if(i >= PageIndex - Radius && i < PageIndex + Radius)
            {
                pageItems.Add(new PageItem(i.ToString(),i, true, true)
                {
                    IsActive=PageIndex==i
                });

            }
        }

        //3.create next page

        
        var  hasNextPage = PageIndex < TotalPages;
        var nextPageIndex = PageIndex + 1;
        pageItems.Add(new PageItem("New", nextPageIndex, hasPreviousPage, true));


    }
}